#form-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 15px;
}

#textarea-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button {
  border: 1px solid black;
  border-radius: 10px;
  font-size: 20px;
  padding: 10px;
  outline: none;
}

.button:hover {
  filter: brightness(95%);
}

.button:active {
  filter: brightness(90%);
}

textarea {
  margin-top: 5px;
}

select {
  font-size: 16px;
}