.form-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px;
  border: 1px dashed black;
  margin-bottom: 20px;;
}

.textarea-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button {
  border: 1px solid black;
  border-radius: 10px;
  font-size: 20px;
  padding: 10px;
  outline: none;
}

.button:hover {
  filter: brightness(95%);
}

.button:active {
  filter: brightness(90%);
}

textarea {
  margin-top: 5px;
  box-shadow: 2px 2px 4px #999;
}

select {
  font-size: 16px;
}

#temp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#temp-form-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#temp-form-container input {
  margin: 10px;
}

#endian-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

