#games-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
}

.card {
  border: 1px solid red;
  margin: 20px;
  width: 500px;
  text-align: center;
}

.test {
  display: flex;
  flex-direction: row;
}

.span1 {
  border: 1px solid blue;
  width: 80%;
}

.span2 {
  border: 1px solid green;
  width: 20%;
}

img {
  width: 100%;
  /* width: 300px; */
  /* height: 200px; */
}