body, html {
  background-color: #DDD;
  margin: 0px;
  height: 100%;
  width: 100%;
}

header {
  background-color: rgb(218, 54, 33);
  margin: 0px;
  padding: 0px;
}

h1 {
  margin: 0px;
}

nav {
  background-color: orange;
}

main {
  background-color: yellow;
}

footer {
  background-color: aqua;
}
