body, html {
  background-color: #DDD;
  margin: 0px;
  height: 100%;
  width: 100%;
}

header {
  background-color: rgb(218, 54, 33);
  margin: 0px;
  padding: 0px;
}

h1 {
  margin: 0px;
}
h2{
  margin: 0;
}

nav {
  background-color: orange;
}

main {
  background-color: rgb(176,224,230);
  margin: 0;
}

footer {
  background-color: aqua;
}

#centerTitle{
  text-align: center;
}
#presentationText{
  text-align: justify;
  font-size: 18px;
}
